import { createFileRoute } from "@tanstack/react-router";
import { PropsWithChildren } from "react";

export const Route = createFileRoute("/_layouts/")({
  component: (
    <Layout>
      <LayoutA />
    </Layout>
  ),
});

function Layout({ children }: PropsWithChildren) {
  return <div>{children}</div>;
}
